<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yabushan.system.mapper.AttachmentMapper">
    
    <resultMap type="Attachment" id="AttachmentResult">
        <result property="id"    column="ID"    />
        <result property="name"    column="NAME"    />
        <result property="type"    column="TYPE"    />
        <result property="url"    column="URL"    />
        <result property="fileSize"    column="FILE_SIZE"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdDate"    column="CREATED_DATE"    />
        <result property="lastUpdatedBy"    column="LAST_UPDATED_BY"    />
        <result property="lastUpdatedDate"    column="LAST_UPDATED_DATE"    />
    </resultMap>

    <sql id="selectAttachmentVo">
        select ID, NAME, TYPE, URL, FILE_SIZE, CREATED_BY, CREATED_DATE, LAST_UPDATED_BY, LAST_UPDATED_DATE from attachment
    </sql>

    <select id="selectAttachmentList" parameterType="Attachment" resultMap="AttachmentResult">
        <include refid="selectAttachmentVo"/>
        <where>  
            <if test="id != null  and id != ''"> and ID = #{id}</if>
            <if test="name != null  and name != ''"> and NAME like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and TYPE = #{type}</if>
            <if test="url != null  and url != ''"> and URL = #{url}</if>
            <if test="fileSize != null  and fileSize != ''"> and FILE_SIZE = #{fileSize}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdDate != null "> and CREATED_DATE = #{createdDate}</if>
            <if test="lastUpdatedBy != null  and lastUpdatedBy != ''"> and LAST_UPDATED_BY = #{lastUpdatedBy}</if>
            <if test="lastUpdatedDate != null "> and LAST_UPDATED_DATE = #{lastUpdatedDate}</if>
        </where>
    </select>
    
    <select id="selectAttachmentById" parameterType="String" resultMap="AttachmentResult">
        <include refid="selectAttachmentVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertAttachment" parameterType="Attachment">
        insert into attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">ID,</if>
            <if test="name != null">NAME,</if>
            <if test="type != null">TYPE,</if>
            <if test="url != null">URL,</if>
            <if test="fileSize != null">FILE_SIZE,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdDate != null">CREATED_DATE,</if>
            <if test="lastUpdatedBy != null">LAST_UPDATED_BY,</if>
            <if test="lastUpdatedDate != null">LAST_UPDATED_DATE,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="url != null">#{url},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="lastUpdatedBy != null">#{lastUpdatedBy},</if>
            <if test="lastUpdatedDate != null">#{lastUpdatedDate},</if>
         </trim>
    </insert>

    <insert id="bathInsertAttachment" parameterType="java.util.List">
        insert into attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                ID,
                                                                NAME,
                                                                TYPE,
                                                                URL,
                                                                FILE_SIZE,
                                                                CREATED_BY,
                                                                CREATED_DATE,
                                                                LAST_UPDATED_BY,
                                                                LAST_UPDATED_DATE,
                                    </trim>
        values
        <foreach collection ="list" item="item" separator =",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                                                            #{item.id},
                                                                                #{item.name},
                                                                                #{item.type},
                                                                                #{item.url},
                                                                                #{item.fileSize},
                                                                                #{item.createdBy},
                                                                                #{item.createdDate},
                                                                                #{item.lastUpdatedBy},
                                                                                #{item.lastUpdatedDate},
                                                </trim>
       </foreach>
    </insert>

    <update id="updateAttachment" parameterType="Attachment">
        update attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">NAME = #{name},</if>
            <if test="type != null">TYPE = #{type},</if>
            <if test="url != null">URL = #{url},</if>
            <if test="fileSize != null">FILE_SIZE = #{fileSize},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdDate != null">CREATED_DATE = #{createdDate},</if>
            <if test="lastUpdatedBy != null">LAST_UPDATED_BY = #{lastUpdatedBy},</if>
            <if test="lastUpdatedDate != null">LAST_UPDATED_DATE = #{lastUpdatedDate},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteAttachmentById" parameterType="String">
        delete from attachment where ID = #{id}
    </delete>

    <delete id="deleteAttachmentByIds" parameterType="String">
        delete from attachment where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>