<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yabushan.system.mapper.DataResourceMapper">

    <resultMap type="DataResource" id="DataResourceResult">
        <result property="resourceId"    column="resource_id"    />
        <result property="resourceCode"    column="resource_code"    />
        <result property="resourceName"    column="resource_name"    />
        <result property="resourceDesp"    column="resource_desp"    />
        <result property="resourceType"    column="resource_type"    />
        <result property="datasourceId"    column="datasource_id"    />
        <result property="status"    column="status"    />
        <result property="openedStatus"    column="opened_status"    />
        <result property="securityGradeId"    column="security_grade_id"    />
        <result property="dataCycleId"    column="data_cycle_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="lastUpdateTime"    column="last_update_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTenantId"    column="create_tenant_id"    />
        <result property="version"    column="version"    />
        <result property="versionDesp"    column="version_desp"    />
        <result property="isIndexCreated"    column="is_index_created"    />
        <result property="collectStatus"    column="collect_status"    />
        <result property="productionMode"    column="production_mode"    />
        <result property="dataKind"    column="data_kind"    />
        <result property="structuredType"    column="structured_type"    />
        <result property="orgId"    column="org_id"    />
        <result property="ownUserId"    column="own_user_id"    />
        <result property="dataManagerId"    column="data_manager_id"    />
        <result property="sameName"    column="same_name"    />
        <result property="dataLayer"    column="data_layer"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="analysisStatus"    column="analysis_status"    />
        <result property="sort"    column="sort"    />
    </resultMap>

    <sql id="selectDataResourceVo">
        select resource_id, resource_code, resource_name, resource_desp, resource_type, datasource_id, status, opened_status, security_grade_id, data_cycle_id, create_time, publish_time, last_update_time, create_user_id, create_user_name, create_tenant_id, version, version_desp, is_index_created, collect_status, production_mode, data_kind, structured_type, org_id, own_user_id, data_manager_id, same_name, data_layer, is_deleted, analysis_status, sort from data_resource
    </sql>

    <select id="selectDataResourceList" parameterType="DataResource" resultMap="DataResourceResult">
        <include refid="selectDataResourceVo"/>
        <where>
            <if test="resourceCode != null  and resourceCode != ''"> and resource_code = #{resourceCode}</if>
            <if test="resourceName != null  and resourceName != ''"> and resource_name like concat('%', #{resourceName}, '%')</if>
            <if test="resourceDesp != null  and resourceDesp != ''"> and resource_desp = #{resourceDesp}</if>
            <if test="resourceType != null  and resourceType != ''"> and resource_type = #{resourceType}</if>
            <if test="datasourceId != null  and datasourceId != ''"> and datasource_id in(SELECT u.datasource_id FROM metadata_datasource_customer u  where u.CREATE_ID=#{datasourceId}) </if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="openedStatus != null  and openedStatus != ''"> and opened_status = #{openedStatus}</if>
            <if test="securityGradeId != null  and securityGradeId != ''"> and security_grade_id = #{securityGradeId}</if>
            <if test="dataCycleId != null  and dataCycleId != ''"> and data_cycle_id = #{dataCycleId}</if>
            <if test="publishTime != null "> and publish_time = #{publishTime}</if>
            <if test="lastUpdateTime != null "> and last_update_time = #{lastUpdateTime}</if>
            <if test="createUserId != null  and createUserId != ''"> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="createTenantId != null  and createTenantId != ''"> and create_tenant_id = #{createTenantId}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="versionDesp != null  and versionDesp != ''"> and version_desp = #{versionDesp}</if>
            <if test="isIndexCreated != null  and isIndexCreated != ''"> and is_index_created = #{isIndexCreated}</if>
            <if test="collectStatus != null  and collectStatus != ''"> and collect_status = #{collectStatus}</if>
            <if test="productionMode != null  and productionMode != ''"> and production_mode = #{productionMode}</if>
            <if test="dataKind != null  and dataKind != ''"> and data_kind = #{dataKind}</if>
            <if test="structuredType != null  and structuredType != ''"> and structured_type = #{structuredType}</if>
            <if test="orgId != null  and orgId != ''"> and org_id = #{orgId}</if>
            <if test="ownUserId != null  and ownUserId != ''"> and own_user_id = #{ownUserId}</if>
            <if test="dataManagerId != null  and dataManagerId != ''"> and data_manager_id = #{dataManagerId}</if>
            <if test="sameName != null  and sameName != ''"> and same_name like concat('%', #{sameName}, '%')</if>
            <if test="dataLayer != null  and dataLayer != ''"> and data_layer = #{dataLayer}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="analysisStatus != null  and analysisStatus != ''"> and analysis_status = #{analysisStatus}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>

    <select id="selectDataResourceById" parameterType="String" resultMap="DataResourceResult">
        <include refid="selectDataResourceVo"/>
        where resource_id = #{resourceId}
    </select>

    <insert id="insertDataResource" parameterType="DataResource">
        INSERT INTO data_resource SELECT * FROM daas_metadata.data_resource s
        WHERE s.resource_id NOT IN(SELECT resource_id FROM data_resource)
            and s.datasource_id in
            <foreach item="resourceId" collection="array" open="(" separator="," close=")">
                #{resourceId}
            </foreach>
    </insert>

    <update id="updateDataResource" parameterType="DataResource">
        update data_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="resourceCode != null">resource_code = #{resourceCode},</if>
            <if test="resourceName != null">resource_name = #{resourceName},</if>
            <if test="resourceDesp != null">resource_desp = #{resourceDesp},</if>
            <if test="resourceType != null">resource_type = #{resourceType},</if>
            <if test="datasourceId != null">datasource_id = #{datasourceId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="openedStatus != null and openedStatus != ''">opened_status = #{openedStatus},</if>
            <if test="securityGradeId != null">security_grade_id = #{securityGradeId},</if>
            <if test="dataCycleId != null">data_cycle_id = #{dataCycleId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="lastUpdateTime != null">last_update_time = #{lastUpdateTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="createTenantId != null">create_tenant_id = #{createTenantId},</if>
            <if test="version != null">version = #{version},</if>
            <if test="versionDesp != null">version_desp = #{versionDesp},</if>
            <if test="isIndexCreated != null">is_index_created = #{isIndexCreated},</if>
            <if test="collectStatus != null">collect_status = #{collectStatus},</if>
            <if test="productionMode != null">production_mode = #{productionMode},</if>
            <if test="dataKind != null">data_kind = #{dataKind},</if>
            <if test="structuredType != null">structured_type = #{structuredType},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="ownUserId != null">own_user_id = #{ownUserId},</if>
            <if test="dataManagerId != null">data_manager_id = #{dataManagerId},</if>
            <if test="sameName != null">same_name = #{sameName},</if>
            <if test="dataLayer != null">data_layer = #{dataLayer},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="analysisStatus != null">analysis_status = #{analysisStatus},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where resource_id = #{resourceId}
    </update>

    <delete id="deleteDataResourceById" parameterType="String">
        delete from data_resource where resource_id = #{resourceId}
    </delete>

    <delete id="deleteDataResourceByIds" parameterType="String">
        delete from data_resource where resource_id in
        <foreach item="resourceId" collection="array" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>

</mapper>
