<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yabushan.system.mapper.EmpSubComputerMapper">
    
    <resultMap type="EmpSubComputer" id="EmpSubComputerResult">
        <result property="recId"    column="REC_ID"    />
        <result property="empId"    column="EMP_ID"    />
        <result property="startDate"    column="START_DATE"    />
        <result property="endDate"    column="END_DATE"    />
        <result property="sortIndex"    column="SORT_INDEX"    />
        <result property="abilityType"    column="ABILITY_TYPE"    />
        <result property="abilityLevel"    column="ABILITY_LEVEL"    />
        <result property="gainDate"    column="GAIN_DATE"    />
        <result property="abilityName"    column="ABILITY_NAME"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
    </resultMap>

    <sql id="selectEmpSubComputerVo">
        select REC_ID, EMP_ID, START_DATE, END_DATE, SORT_INDEX, ABILITY_TYPE, ABILITY_LEVEL, GAIN_DATE, ABILITY_NAME, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME from emp_sub_computer
    </sql>

    <select id="selectEmpSubComputerList" parameterType="EmpSubComputer" resultMap="EmpSubComputerResult">
        <include refid="selectEmpSubComputerVo"/>
        <where>  
            <if test="empId != null  and empId != ''"> and EMP_ID = #{empId}</if>
            <if test="startDate != null "> and START_DATE = #{startDate}</if>
            <if test="endDate != null "> and END_DATE = #{endDate}</if>
            <if test="sortIndex != null "> and SORT_INDEX = #{sortIndex}</if>
            <if test="abilityType != null  and abilityType != ''"> and ABILITY_TYPE = #{abilityType}</if>
            <if test="abilityLevel != null  and abilityLevel != ''"> and ABILITY_LEVEL = #{abilityLevel}</if>
            <if test="gainDate != null "> and GAIN_DATE = #{gainDate}</if>
            <if test="abilityName != null  and abilityName != ''"> and ABILITY_NAME like concat('%', #{abilityName}, '%')</if>
            <if test="createBy != null  and createBy != ''"> and CREATE_BY = #{createBy}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and UPDATE_BY = #{updateBy}</if>
            <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectEmpSubComputerById" parameterType="String" resultMap="EmpSubComputerResult">
        <include refid="selectEmpSubComputerVo"/>
        where REC_ID = #{recId}
    </select>
        
    <insert id="insertEmpSubComputer" parameterType="EmpSubComputer">
        insert into emp_sub_computer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recId != null">REC_ID,</if>
            <if test="empId != null">EMP_ID,</if>
            <if test="startDate != null">START_DATE,</if>
            <if test="endDate != null">END_DATE,</if>
            <if test="sortIndex != null">SORT_INDEX,</if>
            <if test="abilityType != null">ABILITY_TYPE,</if>
            <if test="abilityLevel != null">ABILITY_LEVEL,</if>
            <if test="gainDate != null">GAIN_DATE,</if>
            <if test="abilityName != null">ABILITY_NAME,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recId != null">#{recId},</if>
            <if test="empId != null">#{empId},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="sortIndex != null">#{sortIndex},</if>
            <if test="abilityType != null">#{abilityType},</if>
            <if test="abilityLevel != null">#{abilityLevel},</if>
            <if test="gainDate != null">#{gainDate},</if>
            <if test="abilityName != null">#{abilityName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEmpSubComputer" parameterType="EmpSubComputer">
        update emp_sub_computer
        <trim prefix="SET" suffixOverrides=",">
            <if test="empId != null">EMP_ID = #{empId},</if>
            <if test="startDate != null">START_DATE = #{startDate},</if>
            <if test="endDate != null">END_DATE = #{endDate},</if>
            <if test="sortIndex != null">SORT_INDEX = #{sortIndex},</if>
            <if test="abilityType != null">ABILITY_TYPE = #{abilityType},</if>
            <if test="abilityLevel != null">ABILITY_LEVEL = #{abilityLevel},</if>
            <if test="gainDate != null">GAIN_DATE = #{gainDate},</if>
            <if test="abilityName != null">ABILITY_NAME = #{abilityName},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where REC_ID = #{recId}
    </update>

    <delete id="deleteEmpSubComputerById" parameterType="String">
        delete from emp_sub_computer where REC_ID = #{recId}
    </delete>

    <delete id="deleteEmpSubComputerByIds" parameterType="String">
        delete from emp_sub_computer where REC_ID in 
        <foreach item="recId" collection="array" open="(" separator="," close=")">
            #{recId}
        </foreach>
    </delete>
    
</mapper>