<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yabushan.system.mapper.PushProToreadReadMapper">

    <resultMap type="PushProToreadRead" id="PushProToreadReadResult">
        <result property="toreadId" column="toread_id"/>
        <result property="orderId" column="order_id"/>
        <result property="appName" column="app_name"/>
        <result property="owner" column="owner"/>
        <result property="taskName" column="task_name"/>
        <result property="url" column="url"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="type" column="type"/>
        <result property="pushStatus" column="push_status"/>
        <result property="dataType" column="data_type"/>
        <result property="retryCount" column="retry_count"/>
        <result property="insertTime" column="insert_time"/>
    </resultMap>

    <sql id="selectPushProToreadReadVo">
        select toread_id,
               order_id,
               app_name,
               owner,
               task_name,
               url,
               create_time,
               modify_time,
               type,
               push_status,
               data_type,
               retry_count,
               insert_time
        from push_pro_toread_read
    </sql>

    <sql id="Base_Column_List_as">
        tr.toread_id,tr.order_id, tr.app_name, tr.owner, tr.task_name, tr.url, tr.create_time, tr.modify_time, tr.type, tr.push_status, tr.data_type,tr.retry_count
    </sql>

    <select id="selectPushProToreadReadList" parameterType="PushProToreadRead" resultMap="PushProToreadReadResult">
        <include refid="selectPushProToreadReadVo"/>
        <where>
            <if test="toreadId != null  and toreadId != ''">and toread_id = #{toreadId}</if>
            <if test="orderId != null  and orderId != ''">and order_id = #{orderId}</if>
            <if test="appName != null  and appName != ''">and app_name like concat('%', #{appName}, '%')</if>
            <if test="owner != null  and owner != ''">and owner = #{owner}</if>
            <if test="taskName != null  and taskName != ''">and task_name like concat('%', #{taskName}, '%')</if>
            <if test="url != null  and url != ''">and url = #{url}</if>
            <if test="modifyTime != null  and modifyTime != ''">and modify_time = #{modifyTime}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="pushStatus != null  and pushStatus != ''">and push_status = #{pushStatus}</if>
            <if test="dataType != null  and dataType != ''">and data_type = #{dataType}</if>
            <if test="retryCount != null ">and retry_count = #{retryCount}</if>
            <if test="insertTime != null ">and insert_time = #{insertTime}</if>
        </where>
    </select>

    <select id="selectPushProToreadReadById" parameterType="String" resultMap="PushProToreadReadResult">
        <include refid="selectPushProToreadReadVo"/>
        where toread_id = #{toreadId}
    </select>

    <insert id="insertPushProToreadRead" parameterType="PushProToreadRead">
        insert into push_pro_toread_read
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="toreadId != null and toreadId != ''">toread_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="appName != null">app_name,</if>
            <if test="owner != null">owner,</if>
            <if test="taskName != null and taskName != ''">task_name,</if>
            <if test="url != null">url,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
            <if test="modifyTime != null and modifyTime != ''">modify_time,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="pushStatus != null and pushStatus != ''">push_status,</if>
            <if test="dataType != null">data_type,</if>
            <if test="retryCount != null">retry_count,</if>
            <if test="insertTime != null">insert_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="toreadId != null and toreadId != ''">#{toreadId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="appName != null">#{appName},</if>
            <if test="owner != null">#{owner},</if>
            <if test="taskName != null and taskName != ''">#{taskName},</if>
            <if test="url != null">#{url},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
            <if test="modifyTime != null and modifyTime != ''">#{modifyTime},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="pushStatus != null and pushStatus != ''">#{pushStatus},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="retryCount != null">#{retryCount},</if>
            <if test="insertTime != null">#{insertTime},</if>
        </trim>
    </insert>

    <insert id="bathInsertPushProToreadRead" parameterType="java.util.List">
        insert into push_pro_toread_read
        <trim prefix="(" suffix=")" suffixOverrides=",">
            toread_id,
            order_id,
            app_name,
            owner,
            task_name,
            url,
            create_time,
            modify_time,
            type,
            push_status,
            data_type,
            retry_count,
            insert_time,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.toreadId},
                #{item.orderId},
                #{item.appName},
                #{item.owner},
                #{item.taskName},
                #{item.url},
                #{item.createTime},
                #{item.modifyTime},
                #{item.type},
                #{item.pushStatus},
                #{item.dataType},
                #{item.retryCount},
                #{item.insertTime},
            </trim>
        </foreach>
    </insert>

    <update id="updatePushProToreadRead" parameterType="PushProToreadRead">
        update push_pro_toread_read
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="appName != null">app_name = #{appName},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="url != null">url = #{url},</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
            <if test="modifyTime != null and modifyTime != ''">modify_time = #{modifyTime},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="pushStatus != null and pushStatus != ''">push_status = #{pushStatus},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="retryCount != null">retry_count = #{retryCount},</if>
            <if test="insertTime != null">insert_time = #{insertTime},</if>
        </trim>
        where toread_id = #{toreadId}
    </update>

    <delete id="deletePushProToreadReadById" parameterType="String">
        delete
        from push_pro_toread_read
        where toread_id = #{toreadId}
    </delete>

    <delete id="deletePushProToreadReadByIds" parameterType="String">
        delete from push_pro_toread_read where toread_id in
        <foreach item="toreadId" collection="array" open="(" separator="," close=")">
            #{toreadId}
        </foreach>
    </delete>

    <!--查询待阅已经阅数据-->
    <select id="selectToreadReadPushData" resultMap="PushProToreadReadResult" parameterType="String">
        select <include refid="Base_Column_List_as" /> from push_pro_toread_read tr  where tr.push_status = #{pushStatus}
    </select>

    <!--重推次数自增长-->
    <update id="retryCountIncreByCondi">
        update push_pro_toread_read set retry_count = IFNULL(retry_count,0) + 1 ${ew.customSqlSegment}
    </update>

</mapper>