<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yabushan.system.mapper.UumUserinfoMapper">

    <resultMap type="UumUserinfo" id="UumUserinfoResult">
        <result property="employee"    column="EMPLOYEE"    />
        <result property="userid"    column="USERID"    />
        <result property="fullname"    column="FULLNAME"    />
        <result property="ouid"    column="OUID"    />
        <result property="ouguid"    column="OUGUID"    />
        <result property="workouguid"    column="WORKOUGUID"    />
        <result property="region"    column="REGION"    />
        <result property="regionid"    column="REGIONID"    />
        <result property="company"    column="COMPANY"    />
        <result property="companyid"    column="COMPANYID"    />
        <result property="branch"    column="BRANCH"    />
        <result property="branchid"    column="BRANCHID"    />
        <result property="department"    column="DEPARTMENT"    />
        <result property="departmentid"    column="DEPARTMENTID"    />
        <result property="usergroup"    column="USERGROUP"    />
        <result property="usergroupid"    column="USERGROUPID"    />
        <result property="hall"    column="HALL"    />
        <result property="hallid"    column="HALLID"    />
        <result property="salepoint"    column="SALEPOINT"    />
        <result property="salepointid"    column="SALEPOINTID"    />
        <result property="teams"    column="TEAMS"    />
        <result property="jobtype"    column="JOBTYPE"    />
        <result property="usertype"    column="USERTYPE"    />
        <result property="workphone"    column="WORKPHONE"    />
        <result property="telephone"    column="TELEPHONE"    />
        <result property="email"    column="EMAIL"    />
        <result property="address"    column="ADDRESS"    />
        <result property="userbirthday"    column="USERBIRTHDAY"    />
        <result property="sex"    column="SEX"    />
        <result property="title"    column="title"    />
        <result property="shortmobile"    column="SHORTMOBILE"    />
        <result property="userposilevel"    column="USERPOSILEVEL"    />
        <result property="currentlevel"    column="CURRENTLEVEL"    />
        <result property="employeeclass"    column="EMPLOYEECLASS"    />
        <result property="usergrade"    column="USERGRADE"    />
        <result property="cmccaccount"    column="CMCCACCOUNT"    />
        <result property="orderid"    column="ORDERID"    />
        <result property="userjoinindate"    column="USERJOININDATE"    />
        <result property="usernation"    column="USERNATION"    />
        <result property="userreligion"    column="USERRELIGION"    />
        <result property="userquitdate"    column="USERQUITDATE"    />
        <result property="userdn"    column="USERDN"    />
        <result property="dutydesc"    column="DUTYDESC"    />
        <result property="changetime"    column="CHANGETIME"    />
        <result property="createtime"    column="CREATETIME"    />
        <result property="lastmodifytime"    column="LASTMODIFYTIME"    />
        <result property="phone3g"    column="PHONE3G"    />
        <result property="empstarttime"    column="EMPSTARTTIME"    />
        <result property="posttitle"    column="POSTTITLE"    />
        <result property="headshipcode"    column="HEADSHIPCODE"    />
        <result property="cmccorgcode"    column="CMCCORGCODE"    />
        <result property="cmccorgcodetwo"    column="CMCCORGCODETWO"    />
        <result property="status"    column="STATUS"    />
        <result property="innerHandler"    column="inner_handler"    />
        <result property="exData"    column="ex_data"    />
        <result property="innerStatus"    column="inner_status"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="orgId"    column="org_id"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectUumUserinfoVo">
        select EMPLOYEE, USERID, FULLNAME, OUID, OUGUID, WORKOUGUID, REGION, REGIONID, COMPANY, COMPANYID, BRANCH, BRANCHID, DEPARTMENT, DEPARTMENTID, USERGROUP, USERGROUPID, HALL, HALLID, SALEPOINT, SALEPOINTID, TEAMS, JOBTYPE, USERTYPE, WORKPHONE, TELEPHONE, EMAIL, ADDRESS, USERBIRTHDAY, SEX, title, SHORTMOBILE, USERPOSILEVEL, CURRENTLEVEL, EMPLOYEECLASS, USERGRADE, CMCCACCOUNT, ORDERID, USERJOININDATE, USERNATION, USERRELIGION, USERQUITDATE, USERDN, DUTYDESC, CHANGETIME, CREATETIME, LASTMODIFYTIME, PHONE3G, EMPSTARTTIME, POSTTITLE, HEADSHIPCODE, CMCCORGCODE, CMCCORGCODETWO, STATUS, inner_handler, ex_data, inner_status, created_by, updated_by, created_at, updated_at, org_id, tenant_id from uum_userinfo
    </sql>

    <select id="selectUumUserinfoList" parameterType="UumUserinfo" resultMap="UumUserinfoResult">
        <include refid="selectUumUserinfoVo"/>
        <where>
            <if test="userid != null  and userid != ''"> and USERID = #{userid}</if>
            <if test="fullname != null  and fullname != ''"> and FULLNAME like concat('%', #{fullname}, '%')</if>
            <if test="ouid != null  and ouid != ''"> and OUID = #{ouid}</if>
            <if test="ouguid != null  and ouguid != ''"> and OUGUID = #{ouguid}</if>
            <if test="workouguid != null  and workouguid != ''"> and WORKOUGUID = #{workouguid}</if>
            <if test="region != null  and region != ''"> and REGION = #{region}</if>
            <if test="regionid != null  and regionid != ''"> and REGIONID = #{regionid}</if>
            <if test="company != null  and company != ''"> and COMPANY = #{company}</if>
            <if test="companyid != null  and companyid != ''"> and COMPANYID = #{companyid}</if>
            <if test="branch != null  and branch != ''"> and BRANCH = #{branch}</if>
            <if test="branchid != null  and branchid != ''"> and BRANCHID = #{branchid}</if>
            <if test="department != null  and department != ''"> and DEPARTMENT = #{department}</if>
            <if test="departmentid != null  and departmentid != ''"> and DEPARTMENTID = #{departmentid}</if>
            <if test="usergroup != null  and usergroup != ''"> and USERGROUP = #{usergroup}</if>
            <if test="usergroupid != null  and usergroupid != ''"> and USERGROUPID = #{usergroupid}</if>
            <if test="hall != null  and hall != ''"> and HALL = #{hall}</if>
            <if test="hallid != null  and hallid != ''"> and HALLID = #{hallid}</if>
            <if test="salepoint != null  and salepoint != ''"> and SALEPOINT = #{salepoint}</if>
            <if test="salepointid != null  and salepointid != ''"> and SALEPOINTID = #{salepointid}</if>
            <if test="teams != null  and teams != ''"> and TEAMS = #{teams}</if>
            <if test="jobtype != null  and jobtype != ''"> and JOBTYPE = #{jobtype}</if>
            <if test="usertype != null  and usertype != ''"> and USERTYPE = #{usertype}</if>
            <if test="workphone != null  and workphone != ''"> and WORKPHONE = #{workphone}</if>
            <if test="telephone != null  and telephone != ''"> and TELEPHONE = #{telephone}</if>
            <if test="email != null  and email != ''"> and EMAIL = #{email}</if>
            <if test="address != null  and address != ''"> and ADDRESS = #{address}</if>
            <if test="userbirthday != null "> and USERBIRTHDAY = #{userbirthday}</if>
            <if test="sex != null  and sex != ''"> and SEX = #{sex}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="shortmobile != null  and shortmobile != ''"> and SHORTMOBILE = #{shortmobile}</if>
            <if test="userposilevel != null  and userposilevel != ''"> and USERPOSILEVEL = #{userposilevel}</if>
            <if test="currentlevel != null  and currentlevel != ''"> and CURRENTLEVEL = #{currentlevel}</if>
            <if test="employeeclass != null  and employeeclass != ''"> and EMPLOYEECLASS IN
                <foreach collection="employeeclass.split(',')" item="key" open="(" separator="," close=")">
                    #{key}
                </foreach>
            </if>
            <if test="usergrade != null  and usergrade != ''"> and USERGRADE = #{usergrade}</if>
            <if test="cmccaccount != null  and cmccaccount != ''"> and CMCCACCOUNT = #{cmccaccount}</if>
            <if test="orderid != null  and orderid != ''"> and ORDERID = #{orderid}</if>
            <if test="userjoinindate != null "> and USERJOININDATE = #{userjoinindate}</if>
            <if test="usernation != null  and usernation != ''"> and USERNATION = #{usernation}</if>
            <if test="userreligion != null  and userreligion != ''"> and USERRELIGION = #{userreligion}</if>
            <if test="userquitdate != null "> and USERQUITDATE = #{userquitdate}</if>
            <if test="userdn != null  and userdn != ''"> and USERDN = #{userdn}</if>
            <if test="dutydesc != null  and dutydesc != ''"> and DUTYDESC = #{dutydesc}</if>
            <if test="changetime != null  and changetime != ''"> and CHANGETIME = #{changetime}</if>
            <if test="createtime != null "> and CREATETIME = #{createtime}</if>
            <if test="lastmodifytime != null "> and LASTMODIFYTIME > #{lastmodifytime}</if>
            <if test="phone3g != null  and phone3g != ''"> and PHONE3G = #{phone3g}</if>
            <if test="empstarttime != null  and empstarttime != ''"> and EMPSTARTTIME = #{empstarttime}</if>
            <if test="posttitle != null  and posttitle != ''"> and POSTTITLE = #{posttitle}</if>
            <if test="headshipcode != null  and headshipcode != ''"> and HEADSHIPCODE = #{headshipcode}</if>
            <if test="cmccorgcode != null  and cmccorgcode != ''"> and CMCCORGCODE = #{cmccorgcode}</if>
            <if test="cmccorgcodetwo != null  and cmccorgcodetwo != ''"> and CMCCORGCODETWO = #{cmccorgcodetwo}</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
            <if test="innerHandler != null  and innerHandler != ''"> and inner_handler = #{innerHandler}</if>
            <if test="exData != null  and exData != ''"> and ex_data = #{exData}</if>
            <if test="innerStatus != null  and innerStatus != ''"> and inner_status = #{innerStatus}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
            <if test="orgId != null  and orgId != ''"> and org_id = #{orgId}</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
        </where>
        <if test="sortField !=null and sortField != ''">
            ORDER BY ${sortField}
            <if test="sortOrder !=null and sortOrder != ''">
                ${sortOrder}
            </if>
        </if>
    </select>

    <select id="selectUumUserinfoById" parameterType="String" resultMap="UumUserinfoResult">
        <include refid="selectUumUserinfoVo"/>
        where EMPLOYEE = #{employee}
    </select>

    <insert id="insertUumUserinfo" parameterType="UumUserinfo">
        insert into uum_userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employee != null">EMPLOYEE,</if>
            <if test="userid != null">USERID,</if>
            <if test="fullname != null">FULLNAME,</if>
            <if test="ouid != null">OUID,</if>
            <if test="ouguid != null">OUGUID,</if>
            <if test="workouguid != null">WORKOUGUID,</if>
            <if test="region != null">REGION,</if>
            <if test="regionid != null">REGIONID,</if>
            <if test="company != null">COMPANY,</if>
            <if test="companyid != null">COMPANYID,</if>
            <if test="branch != null">BRANCH,</if>
            <if test="branchid != null">BRANCHID,</if>
            <if test="department != null">DEPARTMENT,</if>
            <if test="departmentid != null">DEPARTMENTID,</if>
            <if test="usergroup != null">USERGROUP,</if>
            <if test="usergroupid != null">USERGROUPID,</if>
            <if test="hall != null">HALL,</if>
            <if test="hallid != null">HALLID,</if>
            <if test="salepoint != null">SALEPOINT,</if>
            <if test="salepointid != null">SALEPOINTID,</if>
            <if test="teams != null">TEAMS,</if>
            <if test="jobtype != null">JOBTYPE,</if>
            <if test="usertype != null">USERTYPE,</if>
            <if test="workphone != null">WORKPHONE,</if>
            <if test="telephone != null">TELEPHONE,</if>
            <if test="email != null">EMAIL,</if>
            <if test="address != null">ADDRESS,</if>
            <if test="userbirthday != null">USERBIRTHDAY,</if>
            <if test="sex != null">SEX,</if>
            <if test="title != null">title,</if>
            <if test="shortmobile != null">SHORTMOBILE,</if>
            <if test="userposilevel != null">USERPOSILEVEL,</if>
            <if test="currentlevel != null">CURRENTLEVEL,</if>
            <if test="employeeclass != null">EMPLOYEECLASS,</if>
            <if test="usergrade != null">USERGRADE,</if>
            <if test="cmccaccount != null">CMCCACCOUNT,</if>
            <if test="orderid != null">ORDERID,</if>
            <if test="userjoinindate != null">USERJOININDATE,</if>
            <if test="usernation != null">USERNATION,</if>
            <if test="userreligion != null">USERRELIGION,</if>
            <if test="userquitdate != null">USERQUITDATE,</if>
            <if test="userdn != null">USERDN,</if>
            <if test="dutydesc != null">DUTYDESC,</if>
            <if test="changetime != null">CHANGETIME,</if>
            <if test="createtime != null">CREATETIME,</if>
            <if test="lastmodifytime != null">LASTMODIFYTIME,</if>
            <if test="phone3g != null">PHONE3G,</if>
            <if test="empstarttime != null">EMPSTARTTIME,</if>
            <if test="posttitle != null">POSTTITLE,</if>
            <if test="headshipcode != null">HEADSHIPCODE,</if>
            <if test="cmccorgcode != null">CMCCORGCODE,</if>
            <if test="cmccorgcodetwo != null">CMCCORGCODETWO,</if>
            <if test="status != null">STATUS,</if>
            <if test="innerHandler != null">inner_handler,</if>
            <if test="exData != null">ex_data,</if>
            <if test="innerStatus != null">inner_status,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="orgId != null">org_id,</if>
            <if test="tenantId != null">tenant_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employee != null">#{employee},</if>
            <if test="userid != null">#{userid},</if>
            <if test="fullname != null">#{fullname},</if>
            <if test="ouid != null">#{ouid},</if>
            <if test="ouguid != null">#{ouguid},</if>
            <if test="workouguid != null">#{workouguid},</if>
            <if test="region != null">#{region},</if>
            <if test="regionid != null">#{regionid},</if>
            <if test="company != null">#{company},</if>
            <if test="companyid != null">#{companyid},</if>
            <if test="branch != null">#{branch},</if>
            <if test="branchid != null">#{branchid},</if>
            <if test="department != null">#{department},</if>
            <if test="departmentid != null">#{departmentid},</if>
            <if test="usergroup != null">#{usergroup},</if>
            <if test="usergroupid != null">#{usergroupid},</if>
            <if test="hall != null">#{hall},</if>
            <if test="hallid != null">#{hallid},</if>
            <if test="salepoint != null">#{salepoint},</if>
            <if test="salepointid != null">#{salepointid},</if>
            <if test="teams != null">#{teams},</if>
            <if test="jobtype != null">#{jobtype},</if>
            <if test="usertype != null">#{usertype},</if>
            <if test="workphone != null">#{workphone},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="email != null">#{email},</if>
            <if test="address != null">#{address},</if>
            <if test="userbirthday != null">#{userbirthday},</if>
            <if test="sex != null">#{sex},</if>
            <if test="title != null">#{title},</if>
            <if test="shortmobile != null">#{shortmobile},</if>
            <if test="userposilevel != null">#{userposilevel},</if>
            <if test="currentlevel != null">#{currentlevel},</if>
            <if test="employeeclass != null">#{employeeclass},</if>
            <if test="usergrade != null">#{usergrade},</if>
            <if test="cmccaccount != null">#{cmccaccount},</if>
            <if test="orderid != null">#{orderid},</if>
            <if test="userjoinindate != null">#{userjoinindate},</if>
            <if test="usernation != null">#{usernation},</if>
            <if test="userreligion != null">#{userreligion},</if>
            <if test="userquitdate != null">#{userquitdate},</if>
            <if test="userdn != null">#{userdn},</if>
            <if test="dutydesc != null">#{dutydesc},</if>
            <if test="changetime != null">#{changetime},</if>
            <if test="createtime != null">#{createtime},</if>
            <if test="lastmodifytime != null">#{lastmodifytime},</if>
            <if test="phone3g != null">#{phone3g},</if>
            <if test="empstarttime != null">#{empstarttime},</if>
            <if test="posttitle != null">#{posttitle},</if>
            <if test="headshipcode != null">#{headshipcode},</if>
            <if test="cmccorgcode != null">#{cmccorgcode},</if>
            <if test="cmccorgcodetwo != null">#{cmccorgcodetwo},</if>
            <if test="status != null">#{status},</if>
            <if test="innerHandler != null">#{innerHandler},</if>
            <if test="exData != null">#{exData},</if>
            <if test="innerStatus != null">#{innerStatus},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="tenantId != null">#{tenantId},</if>
        </trim>
    </insert>

    <insert id="bathInsertUumUserinfo" parameterType="java.util.List">
        insert into uum_userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            EMPLOYEE,
            USERID,
            FULLNAME,
            OUID,
            OUGUID,
            WORKOUGUID,
            REGION,
            REGIONID,
            COMPANY,
            COMPANYID,
            BRANCH,
            BRANCHID,
            DEPARTMENT,
            DEPARTMENTID,
            USERGROUP,
            USERGROUPID,
            HALL,
            HALLID,
            SALEPOINT,
            SALEPOINTID,
            TEAMS,
            JOBTYPE,
            USERTYPE,
            WORKPHONE,
            TELEPHONE,
            EMAIL,
            ADDRESS,
            USERBIRTHDAY,
            SEX,
            title,
            SHORTMOBILE,
            USERPOSILEVEL,
            CURRENTLEVEL,
            EMPLOYEECLASS,
            USERGRADE,
            CMCCACCOUNT,
            ORDERID,
            USERJOININDATE,
            USERNATION,
            USERRELIGION,
            USERQUITDATE,
            USERDN,
            DUTYDESC,
            CHANGETIME,
            CREATETIME,
            LASTMODIFYTIME,
            PHONE3G,
            EMPSTARTTIME,
            POSTTITLE,
            HEADSHIPCODE,
            CMCCORGCODE,
            CMCCORGCODETWO,
            STATUS,
            inner_handler,
            ex_data,
            inner_status,
            created_by,
            updated_by,
            created_at,
            updated_at,
            org_id,
            tenant_id,
        </trim>
        values
        <foreach collection ="list" item="item" separator =",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.employee},
                #{item.userid},
                #{item.fullname},
                #{item.ouid},
                #{item.ouguid},
                #{item.workouguid},
                #{item.region},
                #{item.regionid},
                #{item.company},
                #{item.companyid},
                #{item.branch},
                #{item.branchid},
                #{item.department},
                #{item.departmentid},
                #{item.usergroup},
                #{item.usergroupid},
                #{item.hall},
                #{item.hallid},
                #{item.salepoint},
                #{item.salepointid},
                #{item.teams},
                #{item.jobtype},
                #{item.usertype},
                #{item.workphone},
                #{item.telephone},
                #{item.email},
                #{item.address},
                #{item.userbirthday},
                #{item.sex},
                #{item.title},
                #{item.shortmobile},
                #{item.userposilevel},
                #{item.currentlevel},
                #{item.employeeclass},
                #{item.usergrade},
                #{item.cmccaccount},
                #{item.orderid},
                #{item.userjoinindate},
                #{item.usernation},
                #{item.userreligion},
                #{item.userquitdate},
                #{item.userdn},
                #{item.dutydesc},
                #{item.changetime},
                #{item.createtime},
                #{item.lastmodifytime},
                #{item.phone3g},
                #{item.empstarttime},
                #{item.posttitle},
                #{item.headshipcode},
                #{item.cmccorgcode},
                #{item.cmccorgcodetwo},
                #{item.status},
                #{item.innerHandler},
                #{item.exData},
                #{item.innerStatus},
                #{item.createdBy},
                #{item.updatedBy},
                #{item.createdAt},
                #{item.updatedAt},
                #{item.orgId},
                #{item.tenantId},
            </trim>
        </foreach>
    </insert>

    <update id="updateUumUserinfo" parameterType="UumUserinfo">
        update uum_userinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid != null">USERID = #{userid},</if>
            <if test="fullname != null">FULLNAME = #{fullname},</if>
            <if test="ouid != null">OUID = #{ouid},</if>
            <if test="ouguid != null">OUGUID = #{ouguid},</if>
            <if test="workouguid != null">WORKOUGUID = #{workouguid},</if>
            <if test="region != null">REGION = #{region},</if>
            <if test="regionid != null">REGIONID = #{regionid},</if>
            <if test="company != null">COMPANY = #{company},</if>
            <if test="companyid != null">COMPANYID = #{companyid},</if>
            <if test="branch != null">BRANCH = #{branch},</if>
            <if test="branchid != null">BRANCHID = #{branchid},</if>
            <if test="department != null">DEPARTMENT = #{department},</if>
            <if test="departmentid != null">DEPARTMENTID = #{departmentid},</if>
            <if test="usergroup != null">USERGROUP = #{usergroup},</if>
            <if test="usergroupid != null">USERGROUPID = #{usergroupid},</if>
            <if test="hall != null">HALL = #{hall},</if>
            <if test="hallid != null">HALLID = #{hallid},</if>
            <if test="salepoint != null">SALEPOINT = #{salepoint},</if>
            <if test="salepointid != null">SALEPOINTID = #{salepointid},</if>
            <if test="teams != null">TEAMS = #{teams},</if>
            <if test="jobtype != null">JOBTYPE = #{jobtype},</if>
            <if test="usertype != null">USERTYPE = #{usertype},</if>
            <if test="workphone != null">WORKPHONE = #{workphone},</if>
            <if test="telephone != null">TELEPHONE = #{telephone},</if>
            <if test="email != null">EMAIL = #{email},</if>
            <if test="address != null">ADDRESS = #{address},</if>
            <if test="userbirthday != null">USERBIRTHDAY = #{userbirthday},</if>
            <if test="sex != null">SEX = #{sex},</if>
            <if test="title != null">title = #{title},</if>
            <if test="shortmobile != null">SHORTMOBILE = #{shortmobile},</if>
            <if test="userposilevel != null">USERPOSILEVEL = #{userposilevel},</if>
            <if test="currentlevel != null">CURRENTLEVEL = #{currentlevel},</if>
            <if test="employeeclass != null">EMPLOYEECLASS = #{employeeclass},</if>
            <if test="usergrade != null">USERGRADE = #{usergrade},</if>
            <if test="cmccaccount != null">CMCCACCOUNT = #{cmccaccount},</if>
            <if test="orderid != null">ORDERID = #{orderid},</if>
            <if test="userjoinindate != null">USERJOININDATE = #{userjoinindate},</if>
            <if test="usernation != null">USERNATION = #{usernation},</if>
            <if test="userreligion != null">USERRELIGION = #{userreligion},</if>
            <if test="userquitdate != null">USERQUITDATE = #{userquitdate},</if>
            <if test="userdn != null">USERDN = #{userdn},</if>
            <if test="dutydesc != null">DUTYDESC = #{dutydesc},</if>
            <if test="changetime != null">CHANGETIME = #{changetime},</if>
            <if test="createtime != null">CREATETIME = #{createtime},</if>
            <if test="lastmodifytime != null">LASTMODIFYTIME  = #{lastmodifytime},</if>
            <if test="phone3g != null">PHONE3G = #{phone3g},</if>
            <if test="empstarttime != null">EMPSTARTTIME = #{empstarttime},</if>
            <if test="posttitle != null">POSTTITLE = #{posttitle},</if>
            <if test="headshipcode != null">HEADSHIPCODE = #{headshipcode},</if>
            <if test="cmccorgcode != null">CMCCORGCODE = #{cmccorgcode},</if>
            <if test="cmccorgcodetwo != null">CMCCORGCODETWO = #{cmccorgcodetwo},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="innerHandler != null">inner_handler = #{innerHandler},</if>
            <if test="exData != null">ex_data = #{exData},</if>
            <if test="innerStatus != null">inner_status = #{innerStatus},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where EMPLOYEE = #{employee}
    </update>

    <delete id="deleteUumUserinfoById" parameterType="String">
        delete from uum_userinfo where EMPLOYEE = #{employee}
    </delete>

    <delete id="deleteUumUserinfoByIds" parameterType="String">
        delete from uum_userinfo where EMPLOYEE in
        <foreach item="employee" collection="array" open="(" separator="," close=")">
            #{employee}
        </foreach>
    </delete>

    <select id="selectByUserId" parameterType="String" resultMap="UumUserinfoResult">
        <include refid="selectUumUserinfoVo"/>
        where USERID = #{userId}
    </select>

    <select id="getYjxtUumUserInfos" parameterType="String" resultMap="UumUserinfoResult">
        SELECT * FROM yj_xt.uum_userinfo f WHERE f.`LASTMODIFYTIME`>(SELECT MAX(ff.`LASTMODIFYTIME`) FROM uum_userinfo ff)
    </select>

    <select id="selectByUserIds" resultMap="UumUserinfoResult" parameterType="String">
        <include refid="selectUumUserinfoVo" />
        where USERID in
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
</mapper>
